body {
  font-family: "Krona One", sans-serif;
  background: url("media/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
h1 {
  color: #9cc1dd;
  font-weight: bolder;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}
h2 {
  color: #295a85;
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(85, 84, 88);
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}
#current-weather {
  text-transform: capitalize;
}
.webpage-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 25px;
  border-radius: 15px;
  background-color: #a9d1ff;
  opacity: 0.8;
}
.todays-weather-overview {
  margin-bottom: 15px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}
.weather-temperature strong {
  font-size: 80px;
  font-weight: 700;
  height: auto;
  line-height: 80px;
  margin-left: 10px;
  text-align: left;
  width: auto;
}
.weather-temperature .units {
  position: relative;
  top: -45px;
}
.weather-temperature .fahrenheit-link {
  text-decoration: none;
  font-size: 40;
}
.weather-temperature .celsius-link {
  text-decoration: none;
  font-size: 40;
}
.btn-primary {
  background-color: #c7daea;
  color: #004c98;
  border: 1px black;
  border-radius: 5px;
}
