body {
  font-family: "Crimson Pro", serif;
}
h1 {
  color: black;
  font-weight: bolder;
  text-align: center;
  margin-top: 0;
}

h2 {
  color: rgb(70, 18, 204);
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(112, 109, 121);
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  text-transform: capitalize;
}
.webpage-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 25px;
  border: 2px solid #885df1;
  border-radius: 15px;
  background-color: #ffff;
}
.todays-weather-overview {
  margin-bottom: 15px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}
.weather-temperature strong {
  font-size: 80px;
  font-weight: 700;
  height: auto;
  line-height: 80px;
  margin-left: 10px;
  text-align: left;
  width: auto;
}
.weather-temperature .units {
  position: relative;
  top: -45px;
}
.weather-temperature .farenheit-link {
  text-decoration: none;
  font-size: 40;
}
